* {
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}

body {
  background-image: url("space-background.jpg");
  background-color: black;
  background-attachment: fixed;
  max-width: 100%;
}

#app {
  padding: 0;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin: 0px 0px 15px 0px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.image-container {
  margin: 30px 25%;
}

.image-container img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 25px;
}

.image {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0px 0px 30px 0px;
  padding: 20px;
  color: black;
}

.photo-info {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 0px;
}
